<!DOCTYPE html>
<html>
<head>
    <title>Control Robot</title>
</head>
<body>
    <button onclick="connect()">Connect</button>
    <button onclick="sendCommand('forward')">Forward</button>
    <button onclick="sendCommand('backward')">Backward</button>
    <button onclick="sendCommand('left')">Left</button>
    <button onclick="sendCommand('right')">Right</button>

    <script>
        let socket;

        function connect() {
            const token = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNzIyNzk1ODIxLCJpYXQiOjE3MjI3OTIyMjEsImp0aSI6IjdlNDUxYjUwZjUzNDRjMWNhMzk4ODQwZGRkMjY1OGE3IiwidXNlcl9pZCI6MX0.uHd9c8UHQ3UqkFrmTSUYmW_FXUAwY-x6CIp-P0gRZWE';  // Retrieve this token from your authentication process
            const connectionType = 'user';  // or 'robot' based on your connection type

            socket = new WebSocket(`ws://127.0.0.1:8000/ws/control/?token=${token}&connection_type=${connectionType}&id=1`);

            socket.onopen = function(event) {
                console.log("WebSocket is open now.");
            };

            socket.onclose = function(event) {
                console.log("WebSocket is closed now.");
            };

            socket.onerror = function(event) {
                console.log("WebSocket error:", event);
            };

            socket.onmessage = function(event) {
                const data = JSON.parse(event.data);
                console.log('Received from server:', data);
            };
        }

        function sendCommand(command) {
            if (socket && socket.readyState === WebSocket.OPEN) {
                socket.send(JSON.stringify({ 'command': command }));
                console.log('Sent command:', command);
            } else {
                console.log('WebSocket is not open.');
            }
        }
    </script>
</body>
</html>
